h3{

font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;

}

.centre{

    
  text-align: center;
}


.sign {
 background-color: #ffffff;
 padding: 30px;
 text-align: center;
 width: 100%;
}

div {ont-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0%;
  background-color: #f4f4f4;}
