@font-face {
    font-family: 'cyber';
    src: url(fonts/Lacquer-Regular.ttf);
}


.grid{
    display: grid;
    grid-template-areas:"nav header header" 
                        "nav article aside"
                        " footer  footer  footer";
grid-template-columns: 1fr 12fr 7fr;
grid-template-rows: 1fr 8fr 1fr;
grid-gap: 5px;
height: 750px;
border: 5px solid rgb(134, 146, 255);
border-radius: 20px 0 20px 0;
background-color: rgb(255, 255, 239);
}
.nav{
    grid-area: nav;
    background-color: rgb(155, 195, 255);
    border-radius: 15px 0 0  0;
}
.header{
    grid-area:  header;
    background-color: aquamarine;
    font-size: 80px;
    text-align: center;
    font-family: fantasy;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 10px;
    border-style: solid;
    border-color: cornflowerblue;
}
.article{
    grid-area:  article;
    background-color: bisque;
    font-size: 16px;
    overflow: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-left: 3px solid  burlywood ;
    border-right: 3px solid  burlywood ;

    
}
.aside{
    grid-area:  aside;
    background-color: burlywood;
    background-image: url(pngwing.com.png);
    background-repeat: no-repeat;
    background-position: center;
}
.footer{
    grid-area:  footer;
    background-color: cadetblue;
    border-radius: 0 0 15px 0;
    font-family: cyber ;
    font-size: 50px;
    text-align: center;
}
p{
   margin-top: 10px;
   text-align: center;
   font-family: fantasy;
}
.link:link{
    font-family: fantasy;
    text-decoration: none;
}

.link:hover{
    font-family: fantasy;
    color:  aquamarine;

}