@font-face {
  font-family: "buttom";
  src: url(RubikWetPaint-Regular.ttf) format("woff");
}

div {
  width: 1000px;
  margin: auto;
}

.n1,
.n2,
.n3,
.n4 {
  width: 200px;
  height: 300px;
  margin: 20px;
}

.n1:hover {
  transform: scale(0.5);
}

.n2:hover {
  transform: rotate(45deg);
}

.n3:hover {
  transform: translate(50px);
}

.n4:hover {
  transform: skew(-20deg);
}

button {
  width: 200px;
  height: 50px;
  margin: 20px;
}

.b1 {
  background-color: #ff9393;
  border-radius: 15px;
  border-color: #cf0c0c;
  box-shadow: 0 0 5px black;
  font-family: "buttom";
  color: white;
}

.b1:hover {
  background-color: #000000;
  border-radius: 0;
  border-color: #000000;
  border-style: solid;
  box-shadow: 0 0 0 black;
  font-family: "buttom";
  color: white;
}

.b2 {
  background-color: #54ad63;
  border-radius: 15px;
  border-color: #2e21e5;
  box-shadow: 0 0 5px black;
  font-family: "buttom";
  color: white;
}

.b2:hover {
  background-color: #ffffff;
  border-radius: 0;
  border-color: red;
  outline: yellow 2px solid;
  border-style: solid;
  box-shadow: 0 0 0px black;
  font-family: "buttom";
  color: rgb(0, 0, 0);
}

.b3 {
  background-color: #1d1d1d;
  border-radius: 15px;
  border-color: #e60101;
  box-shadow: 0 0 5px rgb(39, 39, 39);
  font-family: "buttom";
  color: white;
}

.b3:hover {
  background-color: #ffffff;
  border-radius: 0;
  border-color: green;
  border-style: solid;
  box-shadow: 0 0 0px black;
  font-family: "buttom";
  color: rgb(0, 0, 0);
  border-left: none;
  border-right: none;
}

.b4 {
  background-color: #f89d41;
  border-radius: 15px;
  border-color: #35d330;
  box-shadow: 0 0 5px black;
  font-family: "buttom";
  color: white;
}

.b4:hover {
  background-color: #ffffff;
  border-radius: 0;
  border-color: blue;
  border-style: solid;
  box-shadow: 0 0 0px black;
  font-family: "buttom";
  color: rgb(0, 0, 0);
  border-top: none;
  border-bottom: none;
}

.b5 {
  width: 150px;
  height: 50px;
  background-color: #d093ff;
  border-radius: 15px;
  border-color: #bc65ff;
  box-shadow: 0 0 5px black;
  font-family: "buttom";
  color: white;
  margin-left: 410px;
}

.b5:hover {
  background-image: radial-gradient(yellow, rgb(213, 99, 239), aqua);
  border-radius: 0;
  border-style: none;
  box-shadow: 0 0 0px black;
  font-family: "buttom";
  color: rgb(0, 0, 0);
  border-left: none;
  border-right: none;
}

.tesla1 {
  transform: perspective(1000px) rotateX(40deg);
  box-shadow: 0 0 10px black;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.tesla2 {
  transform: perspective(1000px) rotateY(40deg);
  box-shadow: 0 0 10px black;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.tesla3 {
  transform: perspective(1000px) rotateX(40deg);
  box-shadow: 0 0 10px black;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.tesla4 {
  transform: perspective(1000px) rotateY(-40deg);
  box-shadow: 0 0 10px black;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.ganster-car {
  perspective: 1000px;
}

.gelik {
  margin: 20px 0 20px -170px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}

@keyframes halicopter1 {
  0% {
    transform: rotateY(60deg) translate(0px);
  }

  33% {
    transform: rotateY(0) translate(200px);
  }

  66% {
    transform: rotateY(0) translate(200px);
  }

  100% {
    transform: rotateY(60deg) translate(0px);
  }
}

@keyframes halicopter2 {
  0% {
    transform: rotateY(60deg) translate(0px);
  }

  33% {
    transform: rotateY(0) translate(400px);
    filter: blur(0);
  }

  66% {
    transform: rotateY(0) translate(400px);
    filter: blur(10px);
  }

  100% {
    transform: rotateY(60deg) translate(0px);
  }
}

@keyframes halicopter3 {
  0% {
    transform: rotateY(60deg) translate(0px);
  }

  33% {
    transform: rotateY(0) translate(600px);
    filter: grayscale(0);
  }

  66% {
    transform: rotateY(0) translate(600px);
    filter: grayscale(1);
  }

  100% {
    transform: rotateY(60deg) translate(0px);
  }
}

@keyframes halicopter4 {
  0% {
    transform: rotateY(60deg) translate(0px);
  }

  33% {
    transform: rotateY(0) translate(800px);
    filter: invert(0);
  }

  66% {
    transform: rotateY(0) translate(800px);
    filter: invert(1);
  }

  100% {
    transform: rotateY(60deg) translate(0px);
  }
}

.mers1 {
  animation: halicopter1 5s infinite;
}

.mers2 {
  animation: halicopter2 5s infinite;
}

.mers3 {
  animation: halicopter3 5s infinite;
}

.mers4 {
  animation: halicopter4 5s infinite;
}

.drink {
  margin-top: 50px;
  animation: 5s alkospin linear infinite;
  background-repeat: no-repeat;
  height: 350px;
  background-size: 200px 300px ;
  margin-left: 650px;
  border: 2px solid black;
  width: 250px;
}




@keyframes alkospin {
  0% {
  background-image: url(vodka.png);


  }

  20% {
  background-image: url(jack.png);
 


  }

  40% {
 background-image: url(heineken.png);



  }

  60% {
background-image: url(jeger.png);



  }
  80%{
background-image: url(shamp.png);

  }
  100%{
    background-image: url(vodka.png);

  }

}

.jet {
  height: 2000px;
}

.imgjet {
  width: 300px;
  height: 300px;
  margin: 20px;
}

@keyframes jetflight1 {
  0% {
    transform: translate(0px);
  }

  100% {
    transform: translate(200px);
  }
}

@keyframes jetflight2 {
  0% {
    transform: translate(0px);
    border-radius: 0%;
  }

  100% {
    transform: translate(850px);
    border-radius: 50%;
    border: solid 2px black;
  }
}

@keyframes jetflight3 {
  0% {
    transform: translate(-500px);
  }

  100% {
    transform: translate(1150px);
  }
}

@keyframes jetflight4 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(50px);
  }
}

@keyframes jetflight5 {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 300px;
    left: 0;
  }

  50% {
    top: 300px;
    left: 300px;
  }

  75% {
    top: 0;
    left: 300px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.jet1 {
  animation: 3s linear jetflight1 infinite;
}

.jet2 {
  animation: 4s linear jetflight2 infinite;
}

.jet3 {
  animation: 5s linear jetflight3 infinite;
}

.jet4 {
  animation: 3s linear jetflight4 infinite;
}

.jet5 {
  position: relative;
  animation: 5s linear jetflight5 infinite;
}

.textblock {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: 2px solid black;
  background-image: linear-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));
  overflow: hidden;
  font-family: "buttom";
  transition-duration: 2s;
}

.textblock:hover {
  transition-duration: 5s;
  color: #e60101;
}
h2{
  text-align: center;
  font-family: "buttom";
  animation: 3s linear infinite textopacity;
}
@keyframes textopacity{
0%{opacity: 0;}
80%{opacity: 0.8;}
100%{opacity: 0;}
}